.faded {
    opacity: 0;
}

.hatch-green {
    color: rgba(22,160,133,1);
    font-weight: 600;
}

.navbar-header .navbar-brand img, .navbar-header .navbar-brand h1 {
    float:left;
}
.navbar-header .navbar-brand img {
    margin-top: -4px;
}

.navbar-header .navbar-brand h1 {
    margin: 0 0 0 15px;
    line-height: 70px;
}

header.navbar-transparent {
    background: rgba(0, 0, 0, 0.5);
}

.jumbotron-full-height {
    position: relative;
}

.jumbotron-full-height .owl-carousel {
    display: block;
}

header .navbar-nav > li a {
    font-size: 16px;
}

.jumbotron-full-height #slide-1 {
    background-image: url(/assets/images/slider-bg-1.jpg);
}

#jumbotron-slider::before {
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.65;
    position: absolute;
    content: " ";
}

#jumbotron-slider {
    margin-bottom: 0px;
}

#jumbotron-slider .item .row {
    margin-top: 100px;
}

.jumbotron-full-height #slide-1 h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
}

.jumbotron-full-height #slide-1 h2 {
    margin-top: 100px;
    font-size: 42px;
    line-height: 66px;
}

.jumbotron-full-height #slide-1 h3, .jumbotron-full-height #slide-1 h2 {
    margin-left: 0;
    padding: 0;
    background: transparent;
    display: block;
}

.btn {
    border-radius: 4px;
}

#jumbotron-slider .btn {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    padding: 13px 20px 12px;
}

.content-separator {
    padding: 30px 0;
}

.gradient-bg {
    background: rgba(22,160,133,1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, rgba(22,160,133,1), rgba(22,160,133,0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(22,160,133,1), rgba(22,160,133,0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(22,160,133,1), rgba(22,160,133,0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(22,160,133,1), rgba(22,160,133,0.9)); /* Standard syntax (must be last) */
}

.partner-section p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 100;
}

#slide-1 .row {
    transition: opacity 0.65s ease-in;
}

.made-in-ny {
    padding: 30px 0px;
}

.made-in-ny img {
    width: 180px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.made-in-ny h2 {
    color: white;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}

.made-in-ny p {
    color: white;
    font-size: 15px;
    line-height: 22px;
    font-weight: 100;
}

.services3 {
    background-image: url(/assets/images/bg-11.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.services3::before {
    width:100%;
    height:100%;
    background-color:#031e32;
    opacity:0.92;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " "
}

#services.services3 .service {
    background: transparent;
    box-shadow: none;
}


.services3 h2, #services.services3 .service h3, #services.services3 .service p {
    color: #ffffff;
}

#services .service p {
    text-align: justify;
    line-height: 28px;
}

#services.services3 .service .fa {
    color: white;
}

#section-portfolio .portfolio-item img {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -ms-transform:: scale(1.5, 1.5);

    transition: all 0.2s ease-in-out!important;
    -moz-transition: all 0.2s ease-in-out!important;
    -webkit-transition: all 0.2s ease-in-out!important;
    -o-transition: all 0.2s ease-in-out!important;
    -moz-box-shadow: inset 0 0 0 0 #fff;
    -webkit-box-shadow: inset 0 0 0 0 #fff;
    box-shadow: inset 0 0 0 0 #fff;
}

#section-portfolio .portfolio-item:hover img {
    transform: scale(1.7, 1.7);
    -webkit-transform: scale(1.7, 1.7);
    -ms-transform:: scale(1.7, 1.7);
}

#section-portfolio .portfolio-item {
    margin: 0 0 30px 0;
}

#section-portfolio .portfolio-item .hover-overlay {
    background: rgba(22, 160, 133, 0.9);
    transform: none;
    -webkit-transform: none;
    opacity: 0;
    transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out;
    padding: 20px 5% 0 5%;
}

#section-portfolio .portfolio-item .hover-overlay:hover {
  transform: none;
  -webkit-transform: none;
  opacity: 1;
}


#section-portfolio .portfolio-item .hover-overlay h3 {
    color: #fff;
    font-size: 32px;
    margin-top: 25%;
    margin-bottom: 5px;
}

#section-portfolio .portfolio-item .hover-overlay p {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

#services.services3 .service  {
    margin: 0;
    padding: 0 20px 20px 0;
}

@media (min-width: 767px) {
    #section-portfolio .portfolio-item .hover-overlay h3 {
        font-size: 32px;
        margin-top: 170px;
        margin-bottom: 5px;
    }
}

@media (min-width: 993px) {
    #section-portfolio .row .col-md-4{
        padding: 0;
    }

    #section-portfolio .portfolio-item {
        margin: 0;
    }

    .made-in-ny {
        padding: 80px 0px;
    }

    #section-portfolio .portfolio-item .hover-overlay h3 {
        font-size: 22px;
        margin-top: 15%;
        margin-bottom: 5px;
    }
}

@media (min-width: 1199px) {
    #section-portfolio .portfolio-item .hover-overlay h3 {
        font-size: 22px;
        margin-top: 70px;
        margin-bottom: 5px;
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .jumbotron-full-height #slide-1 h2 {
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 10px;
    }

    .jumbotron-full-height #slide-1 h3 {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .jumbotron-full-height #slide-1 h2 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 25px;
    }

    .jumbotron-full-height #slide-1 h3 {
        font-size: 16px;
        line-height: 24px;
    }

}


@media (max-width: 767px) {
    header.navbar .navbar-brand {
        padding: 0 0 0 5px;
    }

    .navbar-header .navbar-brand h1 {
        line-height: 50px;
        margin: 0;
    }

    #jumbotron-slider .item .row {
        margin-top: 10px;
    }
    .jumbotron-full-height #slide-1 h3 {
        font-size: 14px;
        line-height: 24px;
    }

    .jumbotron-full-height #slide-1 h2 {
        margin-top: 10px;
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 20px;
    }

    .partner-section p {
        font-size: 17px;
        line-height: 24px;
        font-weight: 100;
    }
}


@media (min-width: 767px) {
    footer .brands {
        text-align: left;
    }

    .services3 .row:nth-child(2) {
        position: relative;
        border-bottom: 1px solid #555;
    }

    .services3 .row .col-sm-6:first-child {
        border-right: 1px solid #555;
    }

    .made-in-ny h2 {
        text-align: left;
    }

    #services.services3 .service  {
        margin: 0 0 10px;
        padding: 20px;
    }
}

@media (max-width : 568px) {
    .partner-section p {
        font-size: 12px;
        line-height: 18px;
        padding: 0;
    }
}